{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n djmoney unfold unfold_list %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    {% component "unfold/components/container.html" %}
        {% component "unfold/components/flex.html" with class="gap-4" %}
            {% component "unfold/components/navigation.html" with items=navigation %}{% endcomponent %}

            {% component "unfold/components/navigation.html" with class="ml-auto" items=filters %}{% endcomponent %}
        {% endcomponent %}
      
        <div class="mb-8" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); gap: 2rem;">
            {% for row in kpi %}
                <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem;">
                    {% for stats in row %}
                        {% component "unfold/components/card.html" with label="Period" footer=stats.footer %}
                            {% component "unfold/components/text.html" %}
                                {{ stats.title }}
                            {% endcomponent %}
        
                            {% component "unfold/components/title.html" %}
                                {{ stats.metric }}
                            {% endcomponent %}
                        {% endcomponent %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        {% component "unfold/components/card.html" with class="mb-8" title=chart.settings.title %}
            {% component "unfold/components/chart/bar.html" with data=chart.data height=320 %}{% endcomponent %}
        {% endcomponent %}
  
        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            <table id="result_list" class="border-gray-200 border-spacing-none border-separate text-gray-700 w-full dark:text-gray-400 lg:border lg:rounded-md lg:shadow-sm lg:dark:border-gray-800">
                <thead class="hidden lg:table-header-group">
                    <tr>
                        {% for header in table_headers %}
                            <th class="align-middle font-medium px-3 py-2 text-left text-gray-400 text-sm  class=" sortable="" column-name="" sorted="" ascending="" scope="col">
                                <div class="flex items-center">
                                    <div class="text">
                                        {{ header|capfirst }}
                                    </div>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_content %}
                        <tr class=" block border mb-3 rounded-md shadow-sm lg:table-row lg:border-none lg:mb-0 lg:shadow-none dark:border-gray-800">
                            <th class="field-name align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="anno">
                                <a href="{% url 'admin:index' %}{{ row.link }}" class="text-gray-700 dark:text-gray-200">{{ row.key }}</a>
                            </th>
                            <td class="field-valid_from align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800 nowrap" data-label="gross">
                                {% money_localize row.gross 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="costi esterni">
                                {% money_localize row.external_cost 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="valore aggiunto">
                                {% money_localize row.added_value 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="stipendi">
                                {% money_localize row.paychecks 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="ebitda">
                                {% money_localize row.ebitda 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="ammortamenti e svalutazioni">
                                {% money_localize row.ammor 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="ebit">
                                {% money_localize row.ebit 'EUR' %}
                            </td>
                            <td class="field-value align-middle flex border-t border-gray-200 font-normal px-3 py-2 text-left text-sm before:flex before:capitalize before:content-[attr(data-label)] before:items-center before:mr-auto before:text-gray-500 first:border-t-0 dark:before:text-gray-400 lg:before:hidden lg:first:border-t lg:py-3 lg:table-cell dark:border-gray-800" data-label="fondo cassa">
                                {% money_localize row.cash_fund 'EUR' %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% trans "Number of events per agent" as title %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}                
                {% component "unfold/components/flex.html" with col=1 class="gap-8" %}
                    {% for metric in progress %}
                        {% component "unfold/components/progress.html" with title=metric.title description=metric.description value=metric.value %}{% endcomponent %}
                    {% endfor %}
                {% endcomponent %}
            {% endcomponent %}    

            {% component "unfold/components/flex.html" with class="gap-8 lg:w-1/2" col=1 %}
                {% for stats in performance %}
                    {% trans stats.metric.key as label %}
                    {% component "unfold/components/card.html" with label=label footer=stats.footer %}
                        {% component "unfold/components/text.html" %}
                            {{ stats.title }}
                        {% endcomponent %}

                        {% component "unfold/components/title.html" with class="mb-8" %}
                            {% for key, value in stats.metric.items %}
                                {% if key == stats.param %}
                                    {% money_localize value 'EUR' %}
                                {% endif %}
                            {% endfor %}
                        {% endcomponent %}
                      
                        {% component "unfold/components/chart/bar.html" with data=stats.chart %}{% endcomponent %}
                    {% endcomponent %}
                {% endfor %}
            {% endcomponent %}        
        {% endcomponent %}
      
        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% trans "Notes" as title %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}                
                {% component "unfold/components/flex.html" with col=1 class="gap-2" %}
                    {% for note in notes %}
                        {% component "unfold/components/title.html" with class="relative" label=note.event %}
                            {{ note.date }}
                        {% endcomponent %}
                        {% component "unfold/components/text.html" %}
                            <div style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical">{{ note.content|safe }}</div>
                        {% endcomponent %}
                        {% component "unfold/components/separator.html" %}{% endcomponent %}
                    {% endfor %}
                {% endcomponent %}
            {% endcomponent %}

            {% component "unfold/components/flex.html" with class="gap-8 lg:w-1/2" col=1 %}
                {% component "unfold/components/title.html" with class="mb-8" %}
                    Medie
                {% endcomponent %}
              
                <div class="mb-8" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 2rem;">
                    {% for row in averages %}
                        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem;">
                            {% for stats in row %}
                                {% component "unfold/components/card.html" with label="Period" footer=stats.footer %}
                                    {% component "unfold/components/text.html" %}
                                        {{ stats.title }}
                                    {% endcomponent %}
                
                                    {% component "unfold/components/title.html" %}
                                        {{ stats.metric }}
                                    {% endcomponent %}
                                {% endcomponent %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endcomponent %}        
        {% endcomponent %}        
    {% endcomponent %}
{% endblock %}
