{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n djmoney unfold unfold_list %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    {% component "unfold/components/container.html" %}
        {% component "unfold/components/flex.html" with class="gap-4" %}
            {% component "unfold/components/navigation.html" with items=navigation %}{% endcomponent %}

            {% component "unfold/components/navigation.html" with class="ml-auto" items=filters %}{% endcomponent %}
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% for stats in kpi %}
                {% trans "Total" as label %}
                {% component "unfold/components/card.html" with class="lg:w-1/4" label=label footer=stats.footer %}
                    {% component "unfold/components/text.html" %}
                        {{ stats.title }}
                    {% endcomponent %}   

                    {% component "unfold/components/title.html" %}
                        {{ stats.metric }}
                    {% endcomponent %}                                  
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}
        
        {% component "unfold/components/card.html" with class="mb-8" title=chart.settings.title %}
            {% component "unfold/components/chart/bar.html" with data=chart.data height=320 %}{% endcomponent %}
        {% endcomponent %}
        
        {% trans "Report" as title %}
        {% component "unfold/components/card.html" with class="mb-8" title=title %}
            <div class="w-full">
                <table class="border-gray-200 border-spacing-none border-separate text-gray-700 w-full dark:text-gray-400 lg:border lg:rounded-md lg:shadow-sm lg:dark:border-gray-800">
                  <thead class="hidden lg:table-header-group">
                    <tr>
                      {% for header in table_headers %}
                        <th class="align-middle font-medium px-3 py-2 text-left text-gray-400 text-sm" scope="col">
                          <div class="flex items-center">
                            <div class="text">
                              <span>{{ header|capfirst }}</span>
                            </div>
                          </div>
                        </th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in table_content %}
                      <tr class="{% cycle '' 'bg-gray-50 dark:bg-white/[.02]' %} block border mb-3 rounded-md shadow-sm lg:table-row lg:border-none lg:mb-0 lg:shadow-none dark:border-gray-800">
                        <td>
                          <a href="{% url 'admin:index' %}{{ row.link }}">{{ row.key }}</a>
                        </td>
                        <td>{% money_localize row.gross 'EUR' %}</td>
                        <td>{% money_localize row.external_cost 'EUR' %}</td>
                        <td>{% money_localize row.added_value 'EUR' %}</td>
                        <td>{% money_localize row.paychecks 'EUR' %}</td>
                        <td>{% money_localize row.ebitda 'EUR' %}</td>
                        <td>{% money_localize row.ammor 'EUR' %}</td>
                        <td>{% money_localize row.ebit 'EUR' %}</td>
                        <td>{% money_localize row.cash_fund 'EUR' %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% trans "Number of events per agent" as title %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}                
                {% component "unfold/components/flex.html" with col=1 class="gap-8" %}
                    {% for metric in progress %}
                        {% component "unfold/components/progress.html" with title=metric.title description=metric.description value=metric.value %}{% endcomponent %}
                    {% endfor %}
                {% endcomponent %}
            {% endcomponent %}    

            {% component "unfold/components/flex.html" with class="gap-8 lg:w-1/2" col=1 %}
                {% for stats in performance %}
                    {% trans stats.metric.key as label %}
                    {% component "unfold/components/card.html" with label=label footer=stats.footer %}
                        {% component "unfold/components/text.html" %}
                            {{ stats.title }}
                        {% endcomponent %}

                        {% component "unfold/components/title.html" with class="mb-8" %}
                            {% for key, value in stats.metric.items %}
                                {% if key == stats.param %}
                                    {% money_localize value 'EUR' %}
                                {% endif %}
                            {% endfor %}
                        {% endcomponent %}
                      
                        {% component "unfold/components/chart/bar.html" with data=stats.chart %}{% endcomponent %}
                    {% endcomponent %}
                {% endfor %}
            {% endcomponent %}        
        {% endcomponent %}    
    {% endcomponent %}
{% endblock %}
